.App {
  text-align: center;
}
.main{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 30px;
}
input{
  padding: 10px;
}
h1{
  margin-left: 50px;
}
button{
  padding: 10px;
  margin: 10px;
}
.btn{
  margin-left: 100px;
}
.gray{
  background-color: gray;
}
.green{
  background-color: green;
}